.screen-header {
  display: flex;
  padding: var(--horizontal-space);
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}
